In [118]:
import pandas as pd

In [119]:
from google.colab import drive
drive.mount('/content/Mydrive')

Drive already mounted at /content/Mydrive; to attempt to forcibly remount, call drive.mount("/content/Mydrive", force_remount=True).

In [120]:
#Reading sheets
df_backOffice=pd.read_csv('BackOfficeRequiredDetails.csv')
df_config=pd.read_csv('ConfigurationSheet.csv')
df_const=pd.read_csv('Constants.csv')
df_Customer=pd.read_csv('CustomerDetails.csv')
df_Database=pd.read_csv('DatabaseConnectivity.csv')
df_Deposit=pd.read_csv('DepositDetails.csv')
df_Invoice=pd.read_csv('InvoiceDetails.csv')
df_Item=pd.read_csv('ItemDetails.csv')
df_Login=pd.read_csv('LoginDetails.csv')
df_Return=pd.read_csv('ReturnManagementLoginDetails.csv')
df_StoreCredit=pd.read_csv('StoreCreditDetails.csv')
df_TaxFree=pd.read_csv('TaxFreeDetails.csv')
df_Tender=pd.read_csv('TenderDetails.csv')

In [153]:
#Variable in itializations
country_row_index=1
store_id=12345
reg_id=20
Brand_code='GGAE'
Country_code='AE'
test_machine='Test5'
dsn='test5'
store_type='D'
machine_username='Test5\Administrator'
execution_id='POS_198076'
jira_flag='Yes'
copy_flag='No'
copy_country=14


#Customer Details
LastName = 'Ahmed'
FirstName = 'John'
salutation = 'Mr.'
Address = '123 Main St'
City = 'New York'
Zip_code = 100019
Country = 'USA'
AddressType = 'Home'
Birth_day= 1010
Birth_year = 1990
GlobalLastName = 'Johnson'
GlobalFirstName = 'Emily'
CustomerId = 'C123456'
UnknownCustomerCountry = 'Canada'
UnknownCustomerAge = 18-24
UnknownCustomerGender = 'Male'
email = 'subin.p-ext@kering.com'
email_Type = 'Work'
Existing_Customer_lastName = 'Davis'
Existing_customer_FirstName = 'Sarah'
employeeLastName = 'Miller'
employeeFirstName = 'David'
BackOffice_Cust_LastName = 'Brown'
BackOffice_Cust_FirstName = 'Jessica'
ReturnLastName = 'Anderson'
RetrunFirstName = 'Michael'
EmailAddresstodelete = 'sarah@example.com'
PreCustLastName = 'Walker'
PreCustFirstName = 'Olivia'
TaxExeCustLastName = 'Clark'
TaxExeCustFirstName = 'Sophia'
mobileNum = '9876543210'
TaxFreeLastName = 'Wilson'
TaxFreeFirstName = 'James'
TECustomer1LastName = 'Thomas'
TECustomer1FirstName = 'Emma'
RSLastName = 'Roberts'
RSFirstName = 'William'
RTLastName = 'Harris'
RTFirstName = 'Sophie'
OMSOLastName = 'Lewis'
OMSOFirstName = 'Daniel'
OMLastName = 'Govind'
OMFirstName = 'Isabella'

In [122]:
#Editing BackOfficeRequiredDetails
if copy_flag=='Yes':
  new_country_row=df_backOffice.loc[copy_country].copy()
  df_backOffice.loc[df_backOffice.index.max()+1]=new_country_row
else:
  df_backOffice.iloc[country_row_index,1]=store_id
  df_backOffice.iloc[country_row_index,2]=reg_id

In [123]:
#Editing Configuration sheet
#Brand
df_config.iloc[1:,df_config.columns.get_loc('7')]=Brand_code
#Store number
df_config.iloc[1:,df_config.columns.get_loc('8')]=store_id
#HostName
df_config.iloc[1:,df_config.columns.get_loc('11')]=test_machine
#Store Type
df_config.iloc[1:,df_config.columns.get_loc('12')]=store_type
#Windows UserName
df_config.iloc[1:,df_config.columns.get_loc('13')]=machine_username
#POS id of execution
df_config.iloc[1:,df_config.columns.get_loc('14')]=execution_id

In [124]:
#Editing constants sheet
df_const.iloc[1,1]=Brand_code
df_const.iloc[1,2]=store_id
df_const.iloc[1,5]=test_machine
df_const.iloc[1,7]=machine_username
df_const.iloc[1,8]=jira_flag
df_const.iloc[1,9]=execution_id

In [155]:
# Editing CustomerDetails
if copy_flag=='Yes':
  new_country_row=df_Customer.loc[copy_country].copy()
  df_Customer.loc[df_Customer.index.max()+1]=new_country_row
else:
  df_Customer.iloc[country_row_index,0]=Brand_code
  df_Customer.iloc[country_row_index,1]=store_id
  df_Customer.iloc[country_row_index,2]=LastName
  df_Customer.iloc[country_row_index,3]=FirstName
  df_Customer.iloc[country_row_index,4]=salutation
  df_Customer.iloc[country_row_index,5]=Address
  df_Customer.iloc[country_row_index,6]=City
  df_Customer.iloc[country_row_index,7]=Zip_code
  df_Customer.iloc[country_row_index,8]=Country
  df_Customer.iloc[country_row_index,9]=AddressType
  df_Customer.iloc[country_row_index,10]=Birth_day
  df_Customer.iloc[country_row_index,11]=Birth_year
  df_Customer.iloc[country_row_index,12]=GlobalLastName
  df_Customer.iloc[country_row_index,13]=GlobalFirstName
  df_Customer.iloc[country_row_index,14]=CustomerId
  df_Customer.iloc[country_row_index,16]=UnknownCustomerCountry
  df_Customer.iloc[country_row_index,17]=UnknownCustomerAge
  df_Customer.iloc[country_row_index,18]=UnknownCustomerGender
  df_Customer.iloc[country_row_index,19]=email
  df_Customer.iloc[country_row_index,20]=email_Type
  df_Customer.iloc[country_row_index,21]=Existing_Customer_lastName
  df_Customer.iloc[country_row_index,22]=Existing_customer_FirstName
  df_Customer.iloc[country_row_index,23]=employeeLastName
  df_Customer.iloc[country_row_index,24]=employeeFirstName
  df_Customer.iloc[country_row_index,31]=BackOffice_Cust_LastName
  df_Customer.iloc[country_row_index,32]=BackOffice_Cust_FirstName
  df_Customer.iloc[country_row_index,33]=ReturnLastName
  df_Customer.iloc[country_row_index,34]=ReturnLastName
  df_Customer.iloc[country_row_index,36]=PreCustLastName
  df_Customer.iloc[country_row_index,37]=PreCustFirstName
  df_Customer.iloc[country_row_index,38]=TaxExeCustLastName
  df_Customer.iloc[country_row_index,39]=TaxExeCustFirstName
  df_Customer.iloc[country_row_index,42]=mobileNum
  df_Customer.iloc[country_row_index,54]=TECustomer1LastName
  df_Customer.iloc[country_row_index,55]=TECustomer1FirstName
  df_Customer.iloc[country_row_index,56]=RSLastName
  df_Customer.iloc[country_row_index,57]=RSFirstName
  df_Customer.iloc[country_row_index,58]=RTLastName
  df_Customer.iloc[country_row_index,59]=RTFirstName
  df_Customer.iloc[country_row_index,60]=OMSOLastName
  df_Customer.iloc[country_row_index,61]=OMSOFirstName
  df_Customer.iloc[country_row_index,62]=OMLastName
  df_Customer.iloc[country_row_index,63]=OMFirstName

In [154]:
LastName = 'LastName'
FirstName = 'FirstName'
salutation = 'salutation'
Address = 'Address'
City = 'City'
Zip = 'Zip'
Country = 'Country'
AddressType = 'AddressType'
Birth_day = 'Birth_day'
Birth_year = 'Birth_year'
GlobalLastName = 'GlobalLastName'
GlobalFirstName = 'GlobalFirstName'
CustomerId = 'CustomerId'
UnknownCustomerCountry = 'UnknownCustomerCountry'
UnknownCustomerAge = 'UnknownCustomerAge'
UnknownCustomerGender = 'UnknownCustomerGender'
email = 'email'
email_Type = 'email_Type'
Existing_Customer_lastName = 'Existing_Customer_lastName'
Existing_customer_FirstName = 'Existing_customer_FirstName'
employeeLastName = 'employeeLastName'
employeeFirstName = 'employeeFirstName'
BackOffice_Cust_LastName = 'BackOffice_Cust_LastName'
BackOffice_Cust_FirstName = 'BackOffice_Cust_FirstName'
ReturnLastName = 'ReturnLastName'
RetrunFirstName = 'RetrunFirstName'
EmailAddresstodelete = 'EmailAddresstodelete'
PreCustLastName = 'PreCustLastName'
PreCustFirstName = 'PreCustFirstName'
TaxExeCustLastName = 'TaxExeCustLastName'
TaxExeCustFirstName = 'TaxExeCustFirstName'
mobileNum = 'mobileNum'
TaxFreeLastName = 'TaxFreeLastName'
TaxFreeFirstName = 'TaxFreeFirstName'
TECustomer1LastName = 'TECustomer1LastName'
TECustomer1FirstName = 'TECustomer1FirstName'
RSLastName = 'RSLastName'
RSFirstName = 'RSFirstName'
RTLastName = 'RTLastName'
RTFirstName = 'RTFirstName'
OMSOLastName = 'OMSOLastName'
OMSOFirstName = 'OMSOFirstName'
OMLastName = 'OMLastName'
OMFirstName = 'OMFirstName'

In [141]:
# Editing DatabaseConnectivity
if copy_flag=='Yes':
  new_country_row=df_Database.loc[copy_country].copy()
  df_Database.loc[df_Database.index.max()+1]=new_country_row
else:
  df_Database.iloc[country_row_index,1]=store_id
  df_Database.iloc[country_row_index,2]=reg_id
  df_Database.iloc[country_row_index,3]=dsn

In [127]:
# Editing DepositDetails
if copy_flag=='Yes':
  new_country_row=df_Deposit.loc[copy_country].copy()
  df_Deposit.loc[df_Deposit.index.max()+1]=new_country_row
else:
  df_Deposit.iloc[country_row_index,0]=Brand_code
  df_Deposit.iloc[country_row_index,1]=store_id
  df_Deposit.iloc[country_row_index,2]=reg_id

In [128]:
# Editing ItemDetails
if copy_flag=='Yes':
  new_country_row=df_Item.loc[copy_country].copy()
  df_Item.loc[df_Item.index.max()+1]=new_country_row
else:
  df_Item.iloc[country_row_index,0]=Brand_code
  df_Item.iloc[country_row_index,1]=store_id

In [139]:
# Editing LoginDetails
if copy_flag=='Yes':
  new_country_row=df_Login.loc[copy_country].copy()
  df_Login.loc[df_Login.index.max()+1]=new_country_row
else:
  df_Login.iloc[country_row_index,0]=Brand_code
  df_Login.iloc[country_row_index,1]=store_id

In [130]:
# Editing Tender details
if copy_flag=='Yes':
  new_country_row=df_Tender.loc[copy_country].copy()
  df_Tender.loc[df_Tender.index.max()+1]=new_country_row
else:
  df_Tender.iloc[country_row_index,0]=Brand_code
  df_Tender.iloc[country_row_index,1]=store_id

In [131]:
#Editing StoreCredit details
if copy_flag=='Yes':
  new_country_row=df_StoreCredit.loc[copy_country].copy()
  df_StoreCredit.loc[df_StoreCredit.index.max()+1]=new_country_row
else:
  df_StoreCredit.iloc[country_row_index,0]=Brand_code
  df_StoreCredit.iloc[country_row_index,1]=store_id
  df_StoreCredit.iloc[country_row_index,2]=reg_id
  df_StoreCredit.iloc[country_row_index,3]=Country_code

In [132]:
#Checking the pass/fail cases count
#df_config['5'].value_counts()

In [133]:
#Configurtion sheet 
df_Customer.head()

,1,2,3,4,5,6,7,8,9,10,...,55,56,57,58,59,60,61,62,63,64
0,Brand,Store Id,LastName,FirstName,salutation,Address,City,Zip,Country,AddressType,...,TECustomer1LastName,TECustomer1FirstName,RSLastName,RSFirstName,RTLastName,RTFirstName,OMSOLastName,OMSOFirstName,OMLastName,OMFirstName
1,GGKW,28702,Ahmed,John,Mr.,123 Main St,New York,<class 'zip'>,USA,Home,...,Thomas,Emma,Roberts,William,Harris,Sophie,Lewis,Daniel,Govind,Isabella
2,GGES,21102,Patas,Fulltobindas,Mr.,25 Annapurna Studios,Hyderabad,500039,INDIA,Home,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YSL,30453,Spec,Order,Mr.,22 Place des Epars,Chartres,28000,France,Home,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GGKW,28702,LastName,FirstName,salutation,Address,City,<class 'zip'>,Country,AddressType,...,TECustomer1LastName,TECustomer1FirstName,RSLastName,RSFirstName,RTLastName,RTFirstName,OMSOLastName,OMSOFirstName,OMLastName,OMFirstName

In [134]:
#@title
#Change all failed cases to execute status 'Yes'
#df_config.loc[df_config['6']=='Fail', '5']='Yes'
#df_config.loc[df_config['6']=='Pass', '5']='No'

In [135]:
#df_config['5']='No'

In [136]:
df_TaxFree.head()

,1,2,3,4,5,6,7,8,9,10,11,12
0,Brand,Store Id,register Id,BackOfficeTaxFreeOption,ConsolidateTaxFree,ReprintTaxFree,VoidTaxFree,TaxFree invoice type,Taxfree credit note,Year,NaN,NaN
1,MCQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GGES,20102,2,D,1,2,3,GAI_TAXFREE_INVOICE_SEQ,GAI_TAXFREE_CN_SEQ,2019,NaN,NaN
3,YSL,30453,4,D,7,8,5,GAI_TAXFREE_INVOICE_SEQ,GAI_TAXFREE_CN_SEQ,2019,NaN,NaN
4,SR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [137]:
#Change execute status to 'Yes' for the POS-ids
#df_config.loc[df['15'].isin(['POS-1718','POS-1983','POS-1984','POS-7005','POS-7006','POS-7066','POS-7067','POS-7069','POS-1825','POS-1827','POS-1958','POS-1748','POS-1771','POS-1775','POS-1807','POS-1870','POS-1873','POS-1874','POS-1885']), '5'] = 'Yes'

In [156]:
#Writing to csv
df_backOffice.to_csv('BackOfficeRequiredDetails.csv',index=False)
df_config.to_csv('ConfigurationSheet.csv',index=False)
df_const.to_csv('Constants.csv',index=False)
df_Customer.to_csv('CustomerDetails.csv',index=False)
df_Database.to_csv('DatabaseConnectivity.csv',index=False)
df_Deposit.to_csv('DepositDetails.csv',index=False)
df_Invoice.to_csv('InvoiceDetails.csv',index=False)
df_Item.to_csv('ItemDetails.csv',index=False)
df_Login.to_csv('LoginDetails.csv',index=False)
df_Return.to_csv('ReturnManagementLoginDetails.csv',index=False)
df_StoreCredit.to_csv('StoreCreditDetails.csv',index=False)
df_TaxFree.to_csv('TaxFreeDetails.csv',index=False)
df_Tender.to_csv('TenderDetails.csv',index=False)